<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles.css">
    <title>Bean Spector</title>
</head>
<body>
<h1>Analyze Coffee Beans Quality</h1>
<form action="/analyze" method="post" enctype="multipart/form-data">
    <label>
        <input type="text" name="name" placeholder="Your Name" required>
    </label>
    <br>
    <label>
        <input type="email" name="email" placeholder="Your Email" required>
    </label>
    <br>
    <input type="file" name="image" accept="image/*" required><br>
    <button type="submit">Analyze</button>
</form>
</body>
</html>